<!DOCTYPE html>
<html>

<head>
    <script src="appScript.js"></script>
</head>
<style>
    table,
    td,
    th {
        border: 1px solid #ddd;
        text-align: left;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    th,
    td {
        padding: 15px;
    }
</style>

<body>
    <div ng-app="pizzeriaApp" ng-controller="appController">

        <div id="veg-pizzas">
            <div>
                <h2 class="text-center">
                    Veg-Pizzas
                </h2>
            </div>
            <div ng-repeat="item in vegPizzas" ng-if="$index % 3 == 0">
                <div class="container" ng-controller="appController">
                    <div class="row">
                        <div class="panel-group col-sm-4 col-lg-4 col-xs-4 col-md-4">
                            <div class="panel panel-primary">
                                <div class="panel-heading">{{item.item_name}}</div>
                                <div class="panel-body">
                                    <img src="" alt="Veg-Pizza" title="" class="img-responsive">
                                </div>
                                <div class="panel-footer">
                                    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#{{ 'vDesc-' + $index }}">Description</button>
                                    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#{{ 'vRates-' + $index }}">Price</button>
                                    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">Add to Cart</button>
                                    <div ng-attr-id="{{ 'vDesc-' + $index }}" class="collapse">
                                        <p>{{item.description}}</p>
                                    </div>
                                    <div ng-attr-id="{{ 'vRates-' + $index }}" class="collapse">
                                        <h5>S: {{item.small_price}}Rs M: {{item.medium_price}}Rs L: {{item.large_price}}Rs</h5>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel-group col-sm-4 col-lg-4 col-xs-4 col-md-4" ng-if="($index +1) < vegPizzas.length">
                            <div class="panel panel-primary">
                                <div class="panel-heading">{{vegPizzas[$index+1].item_name}}</div>
                                <div class="panel-body">
                                    <img src="c:/sample" alt="Veg-Pizza" title="" class="img-responsive">
                                </div>
                                <div class="panel-footer">
                                    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#{{ 'vDesc-' + $index+1 }}">Description</button>
                                    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#{{ 'vRates-' + $index+1 }}">Price</button>
                                    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">Add to Cart</button>
                                    <div ng-attr-id="{{ 'vDesc-' + $index+1 }}" class="collapse">
                                        <p>{{vegPizzas[$index+1].description}}</p>
                                    </div>
                                    <div ng-attr-id="{{ 'vRates-' + $index+1 }}" class="collapse">
                                        <h5>S: {{vegPizzas[$index+1].small_price}}Rs M: {{vegPizzas[$index+1].medium_price}}Rs
                                            L: {{vegPizzas[$index+1].large_price}} Rs
                                        </h5>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel-group col-sm-4 col-lg-4 col-xs-4 col-md-4" ng-if="($index +2) < vegPizzas.length">
                            <div class="panel panel-primary">
                                <div class="panel-heading">{{vegPizzas[$index+2].item_name}}</div>
                                <div class="panel-body">
                                    <img src="" alt="Veg-Pizza" title="" class="img-responsive">

                                </div>
                                <div class="panel-footer">
                                    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="{{ 'vDesc-' + $index+2 }}">Description</button>
                                    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="{{ 'vRates-' + $index+2 }}">Price</button>
                                    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">Add to Cart</button>
                                    <div ng-attr-id="{{ 'vDesc-' + $index+2 }}" class="collapse">
                                        <p>{{vegPizzas[$index+1].description}}</p>
                                    </div>
                                    <div ng-attr-id="{{ 'vRates-' + $index+2 }}" class="collapse">
                                        <h5>S: {{vegPizzas[$index+2].small_price}}Rs M: {{vegPizzas[$index+2].medium_price}}Rs
                                            L: {{vegPizzas[$index+2].large_price}} Rs
                                        </h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="nonVeg-pizzas">
            <div>
                <h2 class="text-center">
                    Non-Veg Pizzas
                </h2>
            </div>
            <div ng-repeat="item in nonVegPizzas" ng-if="$index % 3 == 0">
                <div class="container" ng-controller="appController">
                    <div class="row">
                        <div class="panel-group col-sm-4 col-lg-4 col-xs-4 col-md-4">
                            <div class="panel panel-primary">
                                <div class="panel-heading">{{item.item_name}}</div>
                                <div class="panel-body">
                                    <img src="" alt="Non-Veg Pizza" title="" class="img-responsive">

                                </div>
                                <div class="panel-footer">
                                    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#{{ 'nvDesc-' + $index }}">Description</button>
                                    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#{{ 'nvRates-' + $index }}">Price</button>
                                    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">Add to Cart</button>
                                    <div ng-attr-id="{{ 'nvDesc-' + $index }}" class="collapse">
                                        <p>{{item.description}}</p>
                                    </div>
                                    <div ng-attr-id="{{ 'nvRates-' + $index }}" class="collapse">
                                        <h5>S: {{item.small_price}}Rs M: {{item.medium_price}}Rs L: {{item.large_price}}Rs</h5>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel-group col-sm-4 col-lg-4 col-xs-4 col-md-4" ng-if="($index +1) < nonVegPizzas.length">
                            <div class="panel panel-primary">
                                <div class="panel-heading">{{nonVegPizzas[$index+1].item_name}}</div>
                                <div class="panel-body">
                                    <img src="" alt="Non-Veg Pizza" title="" class="img-responsive">

                                </div>
                                <div class="panel-footer">
                                    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#{{ 'nvDesc-' + $index+1 }}">Description</button>
                                    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#{{ 'nvRates-' + $index+1 }}">Price</button>
                                    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">Add to Cart</button>
                                    <div ng-attr-id="{{ 'nvDesc-' + $index+1 }}" class="collapse">
                                        <p>{{nonVegPizzas[$index+1].description}}</p>
                                    </div>
                                    <div ng-attr-id="{{ 'nvRates-' + $index+1 }}" class="collapse">
                                        <h5>S: {{nonVegPizzas[$index+1].small_price}}Rs M: {{nonVegPizzas[$index+1].medium_price}}
                                            Rs L: {{nonVegPizzas[$index+1].large_price}} Rs
                                        </h5>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel-group col-sm-4 col-lg-4 col-xs-4 col-md-4" ng-if="($index +2) < nonVegPizzas.length">
                            <div class="panel panel-primary">
                                <div class="panel-heading">{{nonVegPizzas[$index+2].item_name}}</div>
                                <div class="panel-body">

                                    <img src="" alt="Non-Veg Pizza" title="" class="img-responsive">

                                </div>
                                <div class="panel-footer">
                                    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#{{ 'nvDesc-' + $index+2 }}">Description</button>
                                    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#{{ 'nvRates-' + $index+2 }}">Price</button>
                                    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">Add to Cart</button>
                                    <div ing-attr-idd="{{ 'nvDesc-' + $index+2 }}" class="collapse">
                                        <p>{{nonVegPizzas[$index+2].description}}</p>
                                    </div>
                                    <div ng-attr-id="{{ 'nvRates-' + $index+2 }}" class="collapse">
                                        <h5>S: {{nonVegPizzas[$index+2].small_price}}Rs M: {{nonVegPizzas[$index+2].medium_price}}
                                            Rs L: {{nonVegPizzas[$index+2].large_price}} Rs
                                        </h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="Combos">
            <div>
                <h2 class="text-center">
                    Combos
                </h2>
            </div>
            <div ng-repeat="item in combos" ng-if="$index % 3 == 0">
                <div class="container" ng-controller="appController">
                    <div class="row">
                        <div class="panel-group col-sm-4 col-lg-4 col-xs-4 col-md-4">
                            <div class="panel panel-primary">
                                <div class="panel-heading">{{item.item_name}}</div>
                                <div class="panel-body">
                                    <img src="" alt="Combos" title="" class="img-responsive">

                                </div>
                                <div class="panel-footer">
                                    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#{{ 'cDesc-' + $index }}">Description</button>
                                    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#{{ 'cRates-' + $index }}">Price</button>
                                    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">Add to Cart</button>
                                    <div ng-attr-id="{{ 'cDesc-' + $index }}" class="collapse">
                                        <p>{{item.description}}</p>
                                    </div>
                                    <div ng-attr-id="{{ 'cRates-' + $index }}" class="collapse">
                                        <h5>S: {{item.small_price}}Rs M: {{item.medium_price}}Rs L: {{item.large_price}}Rs</h5>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel-group col-sm-4 col-lg-4 col-xs-4 col-md-4" ng-if="($index +1) < combos.length">
                            <div class="panel panel-primary">
                                <div class="panel-heading">{{combos[$index+1].item_name}}</div>
                                <div class="panel-body">
                                    <img src="" alt="Combos" title="" class="img-responsive">

                                </div>
                                <div class="panel-footer">
                                    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#{{ 'cDesc-' + $index+1 }}">Description</button>
                                    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#{{ 'cRates-' + $index+1 }}">Price</button>
                                    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">Add to Cart</button>
                                    <div ng-attr-id="{{ 'cDesc-' + $index+1 }}" class="collapse">
                                        <p>{{combos[$index+1].description}}</p>
                                    </div>
                                    <div ng-attr-id="{{ 'cRates-' + $index+1 }}" class="collapse">
                                        <h5>S: {{combos[$index+1].small_price}}Rs M: {{combos[$index+1].medium_price}}Rs L: {{cmobos[$index+1].large_price}}
                                            Rs
                                        </h5>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel-group col-sm-4 col-lg-4 col-xs-4 col-md-4" ng-if="($index +2) < combos.length">
                            <div class="panel panel-primary">
                                <div class="panel-heading">{{combos[$index+2].item_name}}</div>
                                <div class="panel-body">
                                    <img src="" alt="Combos" title="" class="img-responsive">

                                </div>
                                <div class="panel-footer">
                                    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#{{ 'cDesc-' + $index+2 }}">Description</button>
                                    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#{{ 'cRates-' + $index+2 }}">Price</button>
                                    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">Add to Cart</button>
                                    <div ng-attr-id="{{ 'cDesc-' + $index+2 }}" class="collapse">
                                        <p>{{combos[$index+2].description}}</p>
                                    </div>
                                    <div ng-attr-id="{{ 'cRates-' + $index+2}}" class="collapse">
                                        <h5>S: {{combos[$index+2].small_price}}Rs M: {{combos[$index+2].medium_price}}Rs L: {{cmobos[$index+2].large_price}}
                                            Rs
                                        </h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>

</html>